<h2>Oto przykładowy komponent</h2>
<h3 class="subtitle is-family-monospace">sample</h3>
<div>
  Może być rozdzielony na 3 osobne piki:
  <ul>
    <li>Logikę (kod): <code>sample.component.ts</code></li>
    <li>Styl: <code>sample.component.css</code></li>
    <li>Widok: <code>sample.component.html</code></li>
  </ul>
  <blockquote>
    Widok mógłby być zamieszczony jako tzw. <code>--inlineTemplate</code> jednak ZAWSZE komponent
    musi mieć 2 rzeczy:
    <ul>
      <li>Klasę (Logika) - która jest udekorowana <code>&#64;Component()</code></li>
      <li>Widok - w pliku HTML lub inline</li>
    </ul>
  </blockquote>
</div>
